[submodule "pyll"]
	path = pyll
	url = git://github.com/jaberg/pyll.git
[submodule "hyperopt"]
	path = hyperopt
	url = git@github.com:jaberg/hyperopt.git
[submodule "simple_setup"]
	path = simple_setup
	url = git://github.com/braingram/simple_setup.git
[submodule "asgd"]
	path = asgd
	url = git://github.com/jaberg/asgd.git
[submodule "scikit-data"]
	path = scikit-data
	url = git@github.com:jaberg/scikit-data.git
[submodule "thoreano"]
	path = thoreano
	url = git@github.com:jaberg/thoreano.git
[submodule "pythor3"]
	path = pythor3
	url = git@github.com:nsf-ri-ubicv/pythor3.git
[submodule "scikit-learn"]
	path = scikit-learn
	url = git://github.com/yamins81/scikit-learn.git
